/* my CSS */
body {
    margin: 0;
    place-items: center;
    min-width: 340px;
    min-height: 100vh;

    background-color: #FDF3E7;
    color: #3D3D3D;
    font-family: "Space Mono", monospace;
}
button {
    font-family: "Space Mono", monospace;
    color: #3D3D3D;
    background-color: #FAD4C0;
    border-width: 0.1em;
    border-radius: 0.5em;
    border: 1.5px #FDF3E7 solid;
}

/* nav */
nav {
    text-align: center;
    background-color: #F6C1C7;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
}
h2 {
    margin: 0.5em;
}
#links {
    background-color: #FAD4C0;

    a {
        color: #3D3D3D;
        margin: auto 1em;
        text-decoration: none;
    }
}
#logout {
    position: fixed;
    top: 1.3em;
    right: 0.7em;
}

/* heading/header text */
.head {
    margin-top: 5em;
}

/* individual posts */
.post {
    background-color: #FAD4C0;
    padding: 1em;
    border-radius: 2em;
    position: relative;
    max-width: 16.5em;
    margin: 3em auto;

    .username {
        padding: 0;
        margin: 0 2em 0.5em 2em;
    }

    img {
        width: 250px;
        height: 250px;
        padding: 5px;
        border: 2px solid #FDF3E7;
        border-radius: 1em;
        margin-bottom: 0.5em;
    }

    .caption {
        padding: 1em;
        margin: 0;
    }

    .username, .caption {
        background-color: #FDF3E7;
        border-radius: 1em;
    }
}
.post:first-of-type {
    margin-top: 6em;
}

/* cat eats on posts and form */
.ear1, .ear2 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    border-bottom: 2em solid #FAD4C0;
}
.ear1 {
    top: -1.5em;
    left: 1em;
    transform: rotate(-10deg);
}
.ear2 {
    top: -1.5em;
    right: 1em;
    transform: rotate(10deg);
}
.earHole {
    position: absolute;
    top: 0.3em;
    left: -0.8em;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
    border-bottom: 1.2em solid #F6C1C7;
}

/* Create Post */
#create {
    position: relative;
}
label {
    margin: 2em 0.5em;
}
#createPost {
    background-color: #FAD4C0;
    padding: 1em;
    border-radius: 2em;
    max-width: 20em;
    margin: 6em auto;

    input {
        margin: 1em;
    }

    button {
        background-color: #F6C1C7;
    }
}

/* Profile */
.cat {
    width: 250px;
    height: 250px;
    border-radius: 2em;
    margin: 2em;
}
#updateForm {
    background-color: #FAD4C0;
    border-radius: 2em;
    width: 250px;
    position: relative;
    padding: 3em;
    margin: auto;
    margin-top: 2em;

    button {
        background-color: #F6C1C7;
    }
}
#modifyAcc {
    margin-top: 3em;

    button {
        background-color: #F6C1C7;
    }
}

/* error page */
#err {
    margin-top: 8em;
}

/* desktop media query */
@media screen and (min-width: 768px) {
    #logout {
        position: fixed;
        top: 1.4em;
        right: 1.4em;
    }

    /* home feed */
    #feed {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .post {
            margin-top: 6em;
            margin-bottom: 0em;
            margin-right: 2rem;
        }
    }

    /* profile */
    #profileText {
        margin: auto 15em;
    }
}